.fondo {
  background: #e4e4e4;
  color: #e4e4e4;
  background-color: #e4e4e4;
  --ion-background-color: #e4e4e4;
}
.tarjeta_fondo {
  background: #ffffff;
  color: #ffffff;
  background-color: #ffffff;
  --ion-background-color: #ffffff;
}
