<ion-item>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12">
            <ion-card-title >Johnny Israel Villacis Abril perez</ion-card-title>  
    
        </ion-col>
        <ion-col size="12">
            <ion-card-subtitle>Direccion: Unamuncho, via al Conde</ion-card-subtitle>
   
        </ion-col>
      </ion-row>  
      <ion-row>
          <ion-col size="9">
            <ion-chip color="primary" mode="ios" outline="true">
                <ion-icon name="call" color="success"></ion-icon> 032856599 -- 
                <ion-icon ios="ios-flag" md="md-flag" color="primary" ></ion-icon> 00154856
            </ion-chip>
             
          </ion-col>
          <ion-col size="3">
              <ion-button fill="outline" routerLink="/contrato" routerDirection="root">
                  Ver <ion-icon ios="ios-eye" md="md-eye" slot="end"></ion-icon>
              </ion-button></ion-col>
        </ion-row>
      </ion-grid>  
</ion-item>
  